.page-12 {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  position: relative;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("../img/shutterstock_678483319.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__date {
    border: 2px solid $color-primary;
    padding: 10px;
    margin: -9% 0 5% 0;
    align-self: center;
    font-size: $font-size-date;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: $border-radius-main;

    /* ---------------------------------------- */
    /* media width */
    /* ---------------------------------------- */

    @media only screen and (max-width: 600px) {
      @include PAGES-date-media(0.1em);

    }
  }

  &__content {
    margin: 0 0 0 0;
    align-self: center;
    background: rgba(255,255,255, .9);
    width: 50%;
    min-height: 1px;
    padding: 3em;
    transition: 0.5s all;
    text-align: justify;
    border-radius: $border-radius-main;

    /* ---------------------------------------- */
    /* media width */
    /* ---------------------------------------- */

    @media only screen and (min-width: 901px) and (max-width: 1550px) {
      @include PAGES-content-media(65%, 2.5em);
    }

    @media only screen and (min-width: 601px) and (max-width: 900px) {
      @include PAGES-content-media(75%, 2em);
    }

    @media only screen and (max-width: 600px) {
      @include PAGES-content-media(85%,1.5em);
    }

    /* ---------------------------------------- */
    /* media height */
    /* ---------------------------------------- */

    @media only screen and (min-width: 701px) and (max-height: 800px) {
      @include P1-content-media-height(center, 5em 0 0 0);
    }

    @media only screen and (min-width: 651px) and (max-height: 700px) {
      @include P1-content-media-height(center, 1.5em 0 0 0);
    }

    @media only screen and (max-height: 650px) {
      @include P1-content-media-height(center, 0 0 0 0);
    }

    &__title {
      text-align: center;
      color: $color-secondary;
      font-size: $font-size-title;
      margin-bottom: 20px;
      line-height: 1.1em;
      text-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    .line {
      margin-bottom: 20px;
      display:block;
      height: 2px;
      background-color: $color-primary;
    }

    &__text {
      font-size: $font-size-text;
      color: $color-secondary;
      line-height: 1.2em;
      text-shadow: 0 0 20px rgba(0,0,0,0.1);
    }
  }
}