$font-main: "Arimo", sans-serif;

$font-size-date: calc(2rem + 3vw + 0.5vh);
$font-size-title: calc(0.8rem + 0.8vw + 0.5vh);
$font-size-text: calc(0.3rem + 0.6vw + 0.3vh);

$border-radius-main: 25px;

$color-primary: #00a2d9;
$color-secondary: #222450;


